@tailwind base;
@tailwind components;
@tailwind utilities;
.btn:hover{
    background-color: rgb(29, 113, 216);
    color: aliceblue;
    scale: 1.05;
    transition: 0.5s;
    font-weight: lighter;
}